* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #0000ff;
  color: #fff;
}

nav {
  max-width: 600px;
  width: 80%;
  height: 50px;
  margin: 20px auto 0; /*ez a megoldás tetszik*/
  padding: 0 10px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

nav ul.nav-buttons a {
  text-decoration: none;
  color: #fff;
}
