* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 150, 190);
}

div > div {
  width: 90vw;
  height: 90vh;
  background-color: rgb(255, 255, 255);
}

div > div > div {
  width: 80vw;
  height: 80vh;
  background-color: rgb(226, 135, 67);
}

div > div > div > div {
  width: 70vw;
  height: 70vh;
  background-color: rgb(234, 182, 118);
}

div > div > div > div > div {
  width: 60vw;
  height: 60vh;
  background-color: rgb(118, 181, 197);
}

div > div > div > div > div > div {
  width: 50vw;
  height: 50vh;
  background-color: rgb(33, 19, 13);
}

div > div > div > div > div > div > div {
  width: 40vw;
  height: 40vh;
  background-color: rgb(135, 62, 35);
}

div > div > div > div > div > div > div > div {
  width: 30vw;
  height: 30vh;
  background-color: rgb(171, 219, 227);
}

div > div > div > div > div > div > div > div > div {
  width: 20vw;
  height: 20vh;
  background-color: rgb(6, 57, 112);
}

div > div > div > div > div > div > div > div > div > div {
  width: 10vw;
  height: 10vh;
  background-color: rgb(21, 76, 121);
}
